@import '../variables';

.journal{
  &__wrapper {
    border: 2px solid #000000;
    border-radius: 2px;
    height: 500px;
    padding: 2px 0;
    overflow: auto
  }
  &__title {
    border-bottom:  2px solid #000000;
    padding:  0 5px 10px;
    width: 100%;
  }
}

