@import "~materialize-css/dist/css/materialize.min.css";
@import './fonts';
@import './variables';
@import './libs/normalize';
@import 'components/all';
@import 'pages/all';


.link-home, .link-nav {
  position: absolute;
  left: 12px;
}
.link-home {
  top: 7px;
}

.link-nav {
  top: 60px;
}

.link-list-chat {
  position: absolute;
  top: 60px;
  left: 12px;
}

.padding-top-50 {
  padding-top: 50px;
}
.padding-top-100 {
  padding-top: 100px ;
}

.link-home, .link-list-chat {
  width: 200px;
}

.had-container {
  position: relative;
}







